{% extends 'base.html' %}


{% block title %}eCommerce{%endblock %}

{% block content %}

    {% for product in products %}
        {% if forloop.first %}<div class="card-deck mb-3">{% endif %}
            <div class="card">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{product.name}}">
                <div class="card-body backg">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{ product.excerpt}}</p>
                </div>


                <div class="card-footer backg" style="display: grid;">
                    <small class="text-muted"><h5 class="d-inline-block">${{product.price}}</h5></small>
                    {% if request.user.is_staff %}
                        <a href="{% url 'eliminar_producto' product.id %}" class="btn btn-danger my-1 px-1">Eliminar producto</a>
                        <a href="{% url 'editar_producto' product.id %}" class="btn btn-warning my-1 px-1">Editar producto</a>
                    {% else %}
                        {% if product.available %}
                            <a href="{% url 'carrito:agregar' product.id %}" class="btn btn-success px-1">Agregar al carrito</a>
                        {% else %}
                            <a href="#" class="btn btn-success px-1 disabled" >Producto sin Stock</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="card-deck mb-3">
            {% endif %}
            {% if forloop.last %}
                </div>
            {% endif %}

    {% endfor %}

    {% include "paginacion.html" %}

{% endblock %}