{% extends 'base.html' %}


{% block title %}Tienda{%endblock %}

{% block content %}

    <div class="card-deck">
        {% for product in products|slice:":3" %}
            <div class="card">
                <img src="{{product.image.url}}" class="card-img-top" alt="{{product.name}}">
                <div class="card-body backg">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.excerpt}}</p>
                </div>

                <div class="card-footer backg" style="display: grid;">
                    <small class="text-muted"><h5 class="d-inline-block">${{product.price}}</h5></small>
                    {% if request.user.is_staff %}
                        <a href="{% url 'eliminar_producto' product.id %}" class="btn btn-danger px-1">Eliminar producto</a>
                        <a href="{% url 'editar_producto' product.id %}" class="btn btn-warning my-1 px-1">Editar producto</a>
                    {% else %}
                        {% if product.available %}
                            <a href="{% url 'carrito:agregar' product.id %}" class="btn btn-success px-1">Agregar al carrito</a>
                        {% else %}
                            <a href="#" class="btn btn-success px-1 disabled" >Producto sin Stock</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="my-2 px-3 pt-2 rounded backg">
        <h3 class="">Más productos</h3>
        <ul class="list-group list-group-flush rounded">
            {% for product in products|slice:":10" %}
                {% if forloop.counter > 3 %}
                <li class="list-group-item backg d-flex justify-content-between align-items-center">
                    <div>
                        <h5>{{product.name}}</h5>
                        <p class="card-text text-muted">{{ product.excerpt}}</p>
                    </div>
                    <div>
                    <strong>${{product.price}}</strong>
                     {% if request.user.is_staff %}
                        <a href="{% url 'eliminar_producto' product.id %}" class="btn btn-danger px-1">Eliminar producto</a>
                        <a href="{% url 'editar_producto' product.id %}" class="btn btn-warning my-1 px-1">Editar producto</a>
                    {% else %}
                        {% if product.available %}
                            <a href="{% url 'carrito:agregar' product.id %}" class="btn btn-success px-1">Agregar al carrito</a>
                        {% else %}
                            <a href="#" class="btn btn-success px-1 disabled" >Producto sin Stock</a>
                        {% endif %}
                    {% endif %}
                    </div>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}